<div id="sign-up-form">
        <h2>SIGN UP</h2>
        <form action="/auth/signup" method="POST" id="signup-form">
            <div class="account-exists">
                <p>Already have an account? <a class="login-link" href="/auth/login">Log In</a></p>
            </div>
            <a class="popup-close" href="/">&times;</a>
            <fieldset>
                <label>
                    Username
                    <input type="text" name="username" placeholder="Your username" />
                </label>
                <label>
                    Email
                    <input type="email" name="email" placeholder="Your email" />
                </label>
                <label>
                    Password
                    <input
                        type="password"
                        name="password"
                        placeholder="Your password"
                        id="password-input"
                    />
                    <div class="password-requirements">
                        <p>Password Requirements:</p>
                        <ul>
                            <li id="requirement-length">At least 8 characters</li>
                            <li id="requirement-uppercase">Must contain at least one uppercase letter</li>
                            <li id="requirement-lowercase">Must contain at least one lowercase letter</li>
                            <li id="requirement-number">Must contain at least one number</li>
                        </ul>
                    </div>
                    <div class="error-message" id="password-error"></div>
                </label>
            </fieldset>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <script src="/js/signup.js"></script>
