<section class="admin-order-section">
  <div>

  <h2 class="addfood-title">Orders Database</h2>
  </div>

 <div id="data-display">
  <table border="3" class="table-container">
    <tr class="table-header">
      <th class="strong-style stickyName">OrderID:</th>
      <th class="strong-style stickyDescription"></th>
      <th class="strong-style">ITEMS</th>
      <th class="strong-style">STATUS</th> <!-- Add a new column for status -->
    </tr>
    
    {{#each userOrders}}
      <tr class="eachOrder">
        <td>{{this._id}}</td>
        <td>{{this.email}}</td>
        <td>
          <ul>
            {{#each this.items}}
              <li>{{this.itemName}}</li>
            {{/each}}
          </ul>
        </td>
        <td>
          <select class="order-option">
            <option value="Accepted">Accepted</option>
            <option value="In Process">In Process</option>
            <option value="Out for Delivery">Out for Delivery</option>
            <option value="Delivered">Delivered</option>
          </select>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
<script src="script.js"></script>
</div>
</section>

   