<section class="section-cart">

  <h1 class="my-cart-h1">My cart</h1>

  <div id="carting" class="column d-flex flex-wrap justify-content-center">

  </div>
  <br />
  <div class="cart-sumContainer">
    <div class="total">
      <p class="amt"></p>
    </div>

    <a class="cartBTN" href="/checkout">Checkout</a>
  </div>
</section>

<script src="/js/home.js"></script>