<section id="checkout">
  <h2 class="checkout-title">Your Choice:</h2>
  <div class="col-lg-2 col-md-3 col-sm-4 checkout-items">
  {{#each userObject.cart}}
    <div class="checkout-item">
    <img src="{{this.itemImageURL}}" alt="food img" class="checkout-img"/>
    </div>
  {{/each}}
   </div>

   <div class="total">
    <h3>Total:</h3>
   </div>

   <div class="address-box">
    <h3>Delivery Address</h3>
    <form action="">
      <label for="city">City:</label>
      <select>
         <option>Hanover</option>
         <option>Bremen</option>
         <option>Hamburg</option>
</select>
      <label for="Street">Street:</label>
      <input type="text"> <br>
      <label for="house-number">House Number:</label>
      <input type="number"> <br>
      <label for="phone">Phone Number:</label>
      <input type="text">
      
    </form>

   </div>
  

  <div class="payment-box">
    <div class="payment-card col-lg-6 col-md-6 col-sm-12">
      <h2>Credit Card</h2>
      <div class="card">
        <input
          type="text"
          placeholder="Credit Card Number"
          class="input"
        />
        <input
          type="text"
          placeholder="Expiration Date"
          class="input"
        />
      </div>
    </div>

    <div class="payment-paypal">
      <h2>PayPal</h2>
      <div class="paypal">
        <input type="text" placeholder="PayPal Email" class="input" />
      </div>

    </div>
  </div>
  <div class="pay-btn"> <a href="/order">Proceed</a></div>
  </section>



<script src="/js/checkout.js"></script>