<section id="checkout">
  <h2 class="checkout-title">Your Choice:</h2>
  <div class="checkout-box">

  {{#each userObject.cart}}
    <p><img
        src="{{this.itemImageURL}}"
        alt="food img"
        class="card-img-top"
      /></p>
    <p> {{this.itemPrice}}</p>

  {{/each}}

</div>

  <div class="payment-box">
    <div class="payment-card col-lg-6 col-md-6 col-sm-12">
      <h2>Credit Card</h2>
      <div class="card">
        <input
          type="text"
          placeholder="Credit Card Number"
          class="input"
        />
        <input
          type="text"
          placeholder="Expiration Date"
          class="input"
        />
      </div>
    </div>

    <div class="payment-paypal">
      <h2>PayPal</h2>
      <div class="paypal">
        <input type="text" placeholder="PayPal Email" class="input" />
      </div>

    </div>
  </div>
  <div class="pay-btn"> <a href="/order">Proceed</a></div>
 
</section>


<script src="/js/checkout.js"></script>