<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DataDine</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <div class="navbar">

          <div class="logo">
            <a href="/" class="data"><img src="/images/LOGO.png" alt="logo"/></a>
          </div>

          <div class="icons">
            <div class="icon"><a href="/cart"><img src="/images/icons/add-to-cart (2).png" alt="cartimage"/></a></div>
            {{#if isLoggedIn}}
              <div id="open" class="icon"><img src="/images/icons/user (4).png" alt="signupicon"></div>
          
              <div id="profileBar" class="sidebar">
                <button id="closeBtn">&times;</button>
                <div class="links">
                  <h2>My Account</h2>
                  <h3>Bonuses: <span id = "bonuses"></span> </h3>
                  <a href="/order"><img src="/images/icons/map.png" alt="track-icon"/> Track Order</a>
                  <a href="/favorites"><img src="/images/icons/lover.png" alt="track-icon"/> My favorites</a>
                  <a href="/auth/logout" class="logout-link"><img src="/images/icons/logout.png" alt="logout"/> Log Out</a>
                </div>
              </div>
            {{else}}
              <div class="icon"><a href="/auth/signup"><img src="/images/icons/user (4).png" alt="signupicon"/></a></div>
            {{/if}}
          </div>

        </div>
      </nav>

    </header>

    {{{body}}}
    
    <script src="/js/script.js"></script>

  </body>

</html>