 <section id="order-tracking-container">
     <h1>Your orders</h1>
   
  
   {{#each orderItems}}
   <div class="order">
     <div class="track">
      
       <div class="tracking">
         <div class="confirmed ">
           <img src="/images//order-page/restaurant.png" alt="restaurant color"/>
           <p>Accepted</p>
         </div>
         <div class="preparation ">
           <img src="/images//order-page/cooking (1).png" alt="preparation color"/>
            <p>In Process</p>
         </div>
         <div class="on-the-way ">
           <img src="/images/order-page/fast-delivery.png" alt="car color" />
          <p>Out for Delivery</p>
         </div>
         <div class="delivered ">
           <img src="/images/order-page/verify.png" alt="delivered color" />
            <p>Delivered</p>
         </div>
       </div>
      <div class="progress-bar ">
        <div class="progress-round"></div>
      </div>
   </div>

     <div class="col-lg-2 col-md-3 col-sm-4 order-items">
        <h2>Your Receipt</h2>
        <p class="highlight-receipt">Order Number: {{this._id}}</p>
          <div>
             {{#each items}}
                  <p>{{this.itemName}} ${{this.itemPrice}}</p>
             {{/each}}
          </div>
          <p class="highlight-receipt">Total: ${{this.totalPrice}}</p>
      </div>
      <hr>
  </div>
     
   {{/each}}
  
</section>
