<section id="order-tracking-container">
  <h1>Your order</h1>
  <div class="img-tracking">

    <div class="confirmed">
      <img src="/images//order-page/restaurant.png" alt="restaurant color" />
    </div>
    <div class="preparation">
      <img src="/images//order-page/cooking (1).png" alt="preparation color" />
    </div>
    <div class="on-the-way">
      <img src="/images/order-page/fast-delivery.png" alt="car color" />
    </div>
    <div class="delivered">
      <img src="/images/order-page/verify.png" alt="delivered color" />
    </div>
  </div>
  <div class="progress-bar">
    <div class="progress-round"></div>
  </div>
  <div class="text-tracking">
    <p>Confirmed</p>
    <p>Preparation</p>
    <p>On the way</p>
    <p>Delivered</p>
  </div>
  {{#each order.items}}
    <p>{{this.itemName}}</p>
    <p>{{this.itemPrice}}</p>
  {{/each}}
</section>