@media (min-width: 768px) and (max-width: 1440px) {
    /*////Side Bar //////*/
    #category-menu {
        display: none;
    }

    .float {
        width: 23rem;
    }

    .banner img{
      height: 50vh;
    }

    .banner {
        padding: 80px;
    }
}