@media screen and (max-width: 767px) {
  body {
    margin-top: 100px;
  }

  main {
    margin-top: 170px;
  }
  /*////Nav Bar //////*/
  .navbar {
    padding: 0px;
    margin: 0;
  }

  .logo img {
    width: 13em;
  }
  .floating-number {
    right: 8rem;
  }
  /*////Side Bar //////*/
  #category-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 100px;
    left: 0;
    background: #ffa31a;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 6rem;
    overflow: hidden;
    border-radius: 0px;
    z-index: 1000;
  }

  #category-menu ul {
    background: #ffa31a;
    display: flex;
    padding: 0px;
    margin: 0 5px;
  }

  #category-menu li {
    background-color: #ffa31a;
    margin: 0px;
  }

  .food-icons img {
    width: 2.8rem;
    height: 3.3rem;
    padding: 0;
    margin-right: 0px;
    background-color: #ffa31a;
  }

  #category-menu span.category-name {
    display: none;
  }

  #category-menu li:hover {
    background: #ffa31a;
    height: 7rem;
  }

  #category-menu:hover {
    width: 100%;
  }

  /*/// BANNER ////*/
  .float {
    width: 15rem;
    margin-bottom: 3rem;
  }

  #banner {
    height: 80vh;
  }

  .banner img {
    height: 29vh;
  }

  .banner {
    flex-direction: column;
  }

  #get-started-btn {
    margin-top: 0;
    margin-left: 0;
  }

  .get-started-btn {
    padding: 2rem 3.7rem;
    margin-top: 2.3rem;
  }
  .form-style {
    flex-direction: column;
    width: max-content;
  }
  .form-fields {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .menu-title {
    font-size: 4rem;
    margin-top: 7rem;
  }

  .category-title {
    font-size: 3rem;
    margin: 2rem 0;
  }
  .strong-style {
    padding: 10px;
  }
  .itemNumber {
    display: none;
  }
  #admin-page {
    padding: 1%;
  }
  .admin-btn {
    padding-left: 0;
    display: block;
  }
  .table-container {
    margin: 20px auto;
    width: 50%;
  }
  .data-display {
    overflow-x: auto;
  }
  .admin-order-section {
    background-color: white;
  }
  /* ////// ADMIN USERS ////// */
  .footer-container {
    flex-direction: column;
  }

  /* ////// CART ////// */
}
